{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">검색할 영화 제목을 입력해주세요.</h5>
    <form method="post" class="post-form my-3">

        {% for field,errors in form.errors.items()%}
        <div class="alert aler-danger" role="alert">
            <strong>{{ form[field].label }}</strong> : {{ ','.join(errors) }}
        </div>
        {% endfor %}

        {{ form.csrf_token }}
        {{ form.search.label }}
        {{ form.search(class="form-control") }}

        <button type="submit" class="my-3 btn btn-primary">검색하기</button>
    </form>
</div>

{% if infolist %}
<div class="container my-3">
        <table class="table table-hover">
            <thead>
            <tr class="thead-dark">
                <th>이미지</th>
                <th>순위</th>
                <th>제목</th>
                <th>평점</th>
                <th>배우</th>
                <th>감독</th>
                <th>개봉일</th>
            </tr>
            </thead>
            <tbody>
            {%for review in infolist %}
                <tr>
                    <td> <img src="{{review.image}}"></img></td>
                    <td> {{ loop.index}} </td>
                    <td> {{ review['title']|safe }} </td>
                    <td> {{ review['userRating'] }} </td>
                    <td> {{ review['actor']|safe }} </td>
                    <td> {{ review['director']}} </td>
                    <td> {{ review['pubDate']}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endif %}
{% endblock %}