{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% for field,errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ form[field].label }}</strong> : {{ ','.join(errors) }}
    </div>
    {% endfor %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}